{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}
    Premios
{% endblock %}

{% block contenido %}


<center>
	<h1>Premios del Hackatón</h1>
	
	<p class="lead mb-5  probootstrap-animate">Cada Vertical obtendra un ganador de $20,000.00 pesos y de entre esas verticales se escojera a un ganador general, el cual se llevara otros $20,000.00 pesos</p>

    <br>    
        <img src="{% static 'assets/images/premios.png' %}" width="100%">
    <br>

</center>


{% endblock %}

{% block scripts %}

    
{% endblock %}
