{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}
    Mentores
{% endblock %}

{% block contenido %}


<center>
	<h1>Mentores del Hackatón</h1>
	
	<p class="lead mb-5  probootstrap-animate">Conoce a los mentores que te ayudaran a afinar y mejorar tu idea durante el hackatón</p>

    <div class="col-md-3 col-xs-12 widget widget_tally_box">
        <div class="x_panel fixed_height_500">
            <div class="x_content">
				<div class="flex">
                    <ul class="list-inline widget_profile_box">
                        <li></li>
                        <li>
                            <img src="{% static 'assets/images/mentores/M_Hector_cuesta.jpg' %}" alt="..." class="img-circle profile_img">
                        </li>
                        <li></li>
                    </ul>
                </div>

            <h3 class="name">Héctor Cuesta Arvizu</h3>

                <p>
                    Es licenciado en Informática con Maestría en Ciencias de la Computación. Provee consultoría en diseño de productos de datos y transformación digital con experiencia en áreas tales como: Servicios Financieros, Retail, Fintech, e-learning y Recursos Humanos. Actualmente es encargado de implementar modelos de Machine Learning.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-xs-12 widget widget_tally_box">
        <div class="x_panel fixed_height_500">
            <div class="x_content">
				<div class="flex">
                    <ul class="list-inline widget_profile_box">
                        <li></li>
                        <li>
                            <img src="{% static 'assets/images/mentores/M_Miguel_marin.jpg' %}" alt="..." class="img-circle profile_img">
                        </li>
                        <li></li>
                    </ul>
                </div>

            <h3 class="name">Miguel Ángel Marín Orozco</h3>

                <p>
                    Artista Musical por la Universidad de Guadalajara, Computational Systems Engineer en ITESO, CTO y Project Manager en WT LABS MEXICO; Speaker y Mentor de Realidad Aumentada y Tecnologías Emergentes en comunidades de emprendimiento del país. Amante de la música, Marketing Digital, Experiencia de Usuario y Realidad Virtual.                   

                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-xs-12 widget widget_tally_box">
        <div class="x_panel fixed_height_500">
            <div class="x_content">
				<div class="flex">
                    <ul class="list-inline widget_profile_box">
                        <li></li>
                        <li>
                            <img src="{% static 'assets/images/mentores/M_adan_Avelar.jpg' %}" alt="..." class="img-circle profile_img">
                        </li>
                        <li></li>
                    </ul>
                </div>

            <h3 class="name">Adán Avelar Islas</h3>

                <p>
                    Diseño de la Comunicación Gráfica en UAM Xochimilco, Consultor y Líder de proyectos Web con integración de Social Media y diseño de plataformas de contenido. Organizador, coordinador, conferencista, talleres y pláticas. México Web 2.0, Campus Party, Talent Land y más eventos de tecnología a nivel mundial.                   

                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-xs-12 widget widget_tally_box">
        <div class="x_panel fixed_height_500">
            <div class="x_content">
				<div class="flex">
                    <ul class="list-inline widget_profile_box">
                        <li></li>
                        <li>
                            <img src="{% static 'assets/images/mentores/M_Zzuea_W.jpg' %}" alt="..." class="img-circle profile_img">
                        </li>
                        <li></li>
                    </ul>
                </div>

            <h3 class="name">Carmen Zurita Guerra</h3>

                <p>
                    Estudió pintura, fundó un estudio de tatuajes, cata videojuegos, es party-crasher de comunidades, ya que le gusta mucho. Se preocupa porque la gente de tech tope 1. Su valor en otras industrias resolviendo problemas a través de la automatización, 2. Sus conocimientos combinados con creatividad podrían resultar en proyectos que aporten a tech.
                </p>
            </div>
        </div>
    </div>



    <div class="col-md-3 col-xs-12 widget widget_tally_box">
        <div class="x_panel fixed_height_500">
            <div class="x_content">
				<div class="flex">
                    <ul class="list-inline widget_profile_box">
                        <li></li>
                        <li>
                            <img src="{% static 'assets/images/mentores/AlbertoBustillos.jpg' %}" alt="..." class="img-circle profile_img">
                        </li>
                        <li></li>
                    </ul>
                </div>

            <h3 class="name">José Alberto Bustillos Gonzalez</h3>

                <p>
                    Head of technology en VerneLabs, músico amante de los sintetizadores y mago en la internet y el mundo real. Le gusta conocer gente nueva, asistir a eventos relacionados con tecnología, jugar juegos de mesa con amigos y lanzar experimentos en redes sociales.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-xs-12 widget widget_tally_box">
        <div class="x_panel fixed_height_500">
            <div class="x_content">
				<div class="flex">
                    <ul class="list-inline widget_profile_box">
                        <li></li>
                        <li>
                            <img src="{% static 'assets/images/mentores/M_Iddar.png' %}" alt="..." class="img-circle profile_img">
                        </li>
                        <li></li>
                    </ul>
                </div>

            <h3 class="name">Iddar Olivares Morales</h3>

                <p>
                    Desde pequeño apasionado por la tecnología, 12 años de experiencia en el mundo del desarrollo de hardware y software. Miembro activo de la comunidad de software libre. Le apasiona viajar, hacer malabares y los juegos de mesa.               

                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-xs-12 widget widget_tally_box">
        <div class="x_panel fixed_height_500">
            <div class="x_content">
				<div class="flex">
                    <ul class="list-inline widget_profile_box">
                        <li></li>
                        <li>
                            <img src="{% static 'assets/images/mentores/M_ramiro_E.jpeg' %}" alt="..." class="img-circle profile_img">
                        </li>
                        <li></li>
                    </ul>
                </div>

            <h3 class="name">Ramiro Esquivel Félix</h3>

                <p>
                    Ing. en Comunicaciones y Electrónica, antes de que se definiera el concepto de Internet de las cosas analizó las bases de redes de sensores diseñando una arquitectura mínima para interconectar sensores por medio de protocolo TCP/IP para servicios web, actualmente co-fundador del evento robots fighting champioship peleas de robots hechos de material reciclado.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-xs-12 widget widget_tally_box">
        <div class="x_panel fixed_height_500">
            <div class="x_content">
				<div class="flex">
                    <ul class="list-inline widget_profile_box">
                        <li></li>
                        <li>
                            <img src="{% static 'assets/images/mentores/Victor Cruz.jpg' %}" alt="..." class="img-circle profile_img">
                        </li>
                        <li></li>
                    </ul>
                </div>

            <h3 class="name">Nelson Victor Cruz Hernández</h3>

                <p>
                    Head de Mobile de Bitso, el exchange de criptomonedas más grande de Latinoamérica. Victor estudió Ingeniería en Sistemas Computacionales en el Tec de Monterrey y un master de Computer Science en el ITESO. Desarrolló su carrera de software en empresas como Allianz, Intel y ahora Bitso. Le encantan los retos y tiene un fuerte enfoque en machine learning e inteligencia artificial.           

                </p>
            </div>
        </div>
    </div>
</center>


{% endblock %}

{% block scripts %}

    
{% endblock %}
